/* ==== ESTILOS BASE ==== */

body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    color: #333333;
}

header {
    background-color: #D50032;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 1.4rem;
}

header p {
    margin-top: 7px;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
    font-size: 0.9rem;
    width: 100%;
}

/* ==== CONTENEDORES ==== */

.card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 90%;
    max-width: 900px;
}

/* ==== FORMULARIO Y RESULTADOS ==== */

.form-card, .result-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 25px;
    width: 350px;
}

.form-card h2,
.result-card h2 {
    color: #004AAD;
    text-align: center;
    margin-bottom: 15px;
}

.input-group {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
}

/* ==== BOTONES ==== */

.btn-primary {
    background-color: #004AAD;
    color: white;
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #003080;
}

.btn-secondary {
    background-color: #888888;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.btn-secondary:hover {
    background-color: #555555;
}

/* ==== MODAL ==== */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 80%;
    max-width: 350px;
    text-align: center;
}
